<h1>Welcome to the Gif Search</h1>

<div>
  <form action="/search" method="POST">
    <input type="text" id="search" name="search" placeholder="Please enter a search terminal" required>
    <div>
      <button>Submit</button>
    </div>
  </form>
  <form action="/lucky" method="get">
    <div>
      <button>I'm feeling lucky</button>
    </div>
  </form>
  <a href="/trending">Explore Trending Gif</a>
</div>