<h1>Top 9 Trending Gif</h1>
<a href="/">Return to home</a>
<div class="grid">
  {{#each payload}}
  {{!-- <img class="trend" src="{{this.images.downsized.url}}" alt=""> --}}
  <img class="trend" src="{{this}}" alt="">
  {{/each }}
</div>

<a href="/">Return to home</a>